@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity.Owin;
@using System.Web;
@if (Request.IsAuthenticated)
{
    var manager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var user = manager.FindById(User.Identity.GetUserId());
    var firstName = user.FirstName;
    var lastName = user.LastName;
    var tokens = user.Tokens;
    <script>
        window.myId = '@User.Identity.GetUserId()';
        window.myName = '@firstName @lastName';
    </script>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (User.IsInRole("admin"))
            {
                <li>
                    <a href="@Url.Action("Index", "Admin")" title="Manage your tokens">Admin</a>
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "TokenOrders")" title="Manage your tokens">Tokens: <span id="my-tokens">@tokens</span></a>
            </li>
            <li>
                @Html.ActionLink("Hello " + firstName + " " + lastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
